@font-face {
  font-family: 'Bangers';
  src: url('/fonts/Bangers/Bangers-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comic Neue';
  src: url('/fonts/Comic_Neue/ComicNeue-Bold.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comic Neue';
  src: url('/fonts/Comic_Neue/ComicNeue-Bold.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
    --default-transition: all 0.2s linear(0, 0.1, 0.25, 0.5, 0.68, 0.8, 0.88, 0.94, 0.98, 0.995, 1);
}

html {
    font-family: 'Comic Neue', sans-serif;
    interpolate-size: allow-keywords;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

a, p {
    font-weight: bold;
}

h1,h2,h3,button {
    font-family: 'Bangers', sans-serif;
    font-weight: normal;
}

h1 strong {
    color: white;
    --border: 4px;
    --border-n: -4px;
    text-shadow: var(--border-n) var(--border-n) 0 #000, var(--border) var(--border-n) 0 #000, var(--border-n) var(--border) 0 #000, var(--border) var(--border) 0 #000, 8px 8px 0 #000;
}

h2 strong {
    color: white;
    --border: 2px;
    --border-n: -2px;
    text-shadow: var(--border-n) var(--border-n) 0 #000, var(--border) var(--border-n) 0 #000, var(--border-n) var(--border) 0 #000, var(--border) var(--border) 0 #000, 4px 4px 0 #000;
}

p {
    font-family: 'Comic Neue', sans-serif;
    letter-spacing: -0.02rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

[x-cloak] { display: none !important; opacity: 0; }

main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
    gap: 1rem;
    align-items: center;
}        

@media (max-width: 767px) {
    section {
        grid-template-columns: 1fr;
    }
}

button,[role='button']{
    background-color: white;
    border: 2px solid black;
    border-radius: 0;
    font-family: 'Bangers', sans-serif;
    color: black;
    letter-spacing: 0.05rem;
    box-shadow: 0.2em 0.2em 0 black;
    transition: all 0.2s ease-in;
}

button:hover ,[role="button"]:hover{
    transform: translateX(-0.2em);
    transform: translateY(-0.2em);
    transition: var(--default-transition);
    box-shadow: 0.4em 0.4em 0 #000a;
    background-color: #aaf;
}

button:active ,[role="button"]:active {
    transform: translateX(0);
    transform: translateY(0);
    box-shadow: 0.1em 0.1em 0 #000a;
}



article {
    background-color: white;
    border: 2px solid black;
    border-radius: 0;
    font-family: 'Bangers', sans-serif;
    color: black;
    letter-spacing: 0.05rem;
    box-shadow: 0.2em 0.2em 0 black;
    transition: all 0.2s ease-in;
}

article:hover {
    transform: translateX(-0.2em);
    transform: translateY(-0.2em);
    transition: var(--default-transition);
    box-shadow: 0.4em 0.4em 0 #000a;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .row {
        flex-direction: column;
        align-items: baseline;
        padding-block: 1rem;
    }    
}

@media (max-width: 480px) {
    [role="button"]{
        width: 100%;
    }
}