---
const request = await fetch('https://api.baserow.io/api/database/rows/table/714529/?user_field_names=true',{
    headers: {
        Authorization: "Token yGfiMmcSdFgOvD9TJjbEueSiMEkHFegC"
    }
})
const courses = (await request.json()).results.map(course => ({
    name: course.Name,
    image: course.Thumbnail[0].url
}))

import Image from "astro/components/Image.astro";
import Layout from "../components/layout/Layout.astro";
---

<Layout>
    <section>
        <div>
            <div class="row" style="gap: 2rem;">
                <h1>Cursos</h1>
                <label style="position: relative; width: 100%;" for="">
                    <input type="text" style="width: 100%;" placeholder="procure pelo nome" role="search">
                    <span style="position: absolute; right: 1rem; top: 1rem;">🔎︎</span>
                </label>
            </div>
            <section class="courses">
                {
                    courses.map((course) =>
                    <article class="course">
                        <Image src={course.image} inferSize={true} alt={''}/>
                        <div class="foreground">
                            <h3>{course.name}</h3>
                            <a href="/">Ver curso</a>
                        </div>
                    </article>
                    )
                }
            </section>
        </div>
    </section>
</Layout>

<style>
    .courses {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .courses img {
        width: 100%;
    }
    
    .course {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        gap: 1rem;
    }
    
    .foreground {
        grid-column-start: span 2;
    }
</style>