<footer class="container">
    <small class="row">
        <a href="/privacidade">Política de privacidade</a>
        <a href="/">Este site e plataforma foi feito com inteligência humana por © Walter Melo - Design e Desenvolvimento</a>
        <a href="/termos">Termos e Condições</a>
    </small>
</footer>