<footer>
    <small>
        <a href="/privacidade">Política de privacidade</a>
        <a href="/">Este site e plataforma foi feito com inteligência humana por © Walter Melo - Design e Desenvolvimento</a>
        <a href="/termos">Termos e Condições</a>
    </small>
</footer>

<style>
    footer small {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
</style>