---
import Header from './Header.astro';
import Footer from './Footer.astro';
import './assets/pico-main/css/pico.classless.min.css';
import './assets/layouts.css';
import Cursor from '../elements/Cursor.astro';
---
<!DOCTYPE html>
<html lang="pt-br" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bob Artelier</title>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-head-support@2.0.5" integrity="sha384-cvMqHzjCJsOHgGuyB3sWXaUSv/Krm0BdzjuI1rtkjCbL1l1oHJx+cHyVRJhyuEz0" crossorigin="anonymous"></script>    
</head>
<body hx-boost="true" hx-ext="head-support">
    <Header/>
    <main id="main" hx-swap="outerHTML swap:1s">
        <slot></slot>
    </main>
    <Footer/>
    <Cursor>
</body>
</html>

<style>
    main.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
    }
</style>