---
import Header from './Header.astro';
import Footer from './Footer.astro';
import './assets/pico-main/css/pico.classless.min.css';
import './assets/layouts.css';
import Cursor from '../elements/Cursor.astro';
---
<!DOCTYPE html>
<html lang="pt-br" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bob Artelier</title>
    <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body>
    <Header/>
    <main>
        <slot></slot>
    </main>
    <Footer/>
    <Cursor>
</body>
</html>