<section id="sobre-mim" class="grid container">
    <div>
        <h2>Oi, eu sou o Bob</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil maxime corporis mollitia. Nostrum consequatur, expedita culpa omnis vitae in aut, inventore enim et perspiciatis temporibus reiciendis tempore, eius commodi repudiandae.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil maxime corporis mollitia. Nostrum consequatur, expedita culpa omnis vitae in aut, inventore enim et perspiciatis temporibus reiciendis tempore, eius commodi repudiandae.
        </p>
        <div class="row">
            <a href="">Siga me nas redes sociais</a>
            <div>
                <img src="/images/instagram.svg" alt="" srcset=""/>
                <img src="/images/behance.svg" alt="" srcset=""/>
            </div>
        </div>
    </div>
    <div>
        <img src="/images/foto-bob.jpg" alt="" srcset=""/>
    </div>
</section>

<style>
    .grid {
        gap: 6rem;
    }

    @media (max-width: 767px) {
        .grid {
            gap: 1rem;
            display: flex;
            flex-direction: column-reverse;   
        }
    }
</style>