<section class="grid container">
    <div>
        <img src="/images/hero.png" alt="" srcset="">
    </div>
    <div>
        <h1>Pense, Respire <br><strong> Se inspire</strong> </h1>
        <p>Na BobArtelie, voce transforma talentos em habilidade e habilidade em carreira. Aprenda no seu ritmo, com orientaçao clara em um ambiente descontraido</p>
        <a role="button" href="">Fazer cadastro grátis</a>
    </div>
</section>

<style>
    h1 {
        font-size: 5rem;
    }
    
    @media (max-width:767px) {
        h1 {
            font-size: 3rem;
        }
        
        h1 strong {
            --border: 2px;
            --border-n: -2px;
            text-shadow: var(--border-n) var(--border-n) 0 #000, var(--border) var(--border-n) 0 #000, var(--border-n) var(--border) 0 #000, var(--border) var(--border) 0 #000, 4px 4px 0 #000;
        }
    }
</style>