<section class="grid container">
    <div>
        <h2>
            Cadastro Grátis, <br>
            <strong>Preço accessível</strong>
        </h2>        
        <p>
            Nós entendemos a realidade de quem quer viver de arte, por isso a plataforma completa para o seu desenvolvimento artístico com um preço justo
        </p>
        <p>
            Nós entendemos a realidade de quem quer viver de arte, por isso a plataforma completa para o seu desenvolvimento artístico com um preço justo
        </p>
    </div>
    <div>
        <p>Mensalidades a partir de</p>
        <p>R$ 100,00</p>
    </div>
</section>