---
import Navbar from "./Navbar.astro"
import Footer from './Footer.astro'
---

<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bob Artelier</title>
	<link rel="icon" type="image/png" href="/bob-icon.svg"/>
	<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.js" integrity="sha384-ezjq8118wdwdRMj+nX4bevEi+cDLTbhLAeFF688VK8tPDGeLUe0WoY2MZtSla72F" crossorigin="anonymous"></script>
	<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.amber.min.css"
>
</head>
<body>
	<Navbar/>
	<main>
		<slot/>
	</main>
	<Footer/>
</body>
</html>

<style>
	main {
		min-height: 70vh;
	}
</style>