---
import Input from "../form/Input.astro"
---

<section id="login">
    <div>
        
    </div>
    <div>
        <h1>Fazer Login</h1>
        <form action="">
            <Input label="username"/>
            <Input label="senha"/>
            <button type="submit">Fazer login</button>
        </form>
    </div>
</section>
<style>
    section {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
    
    section > * {
        width: 100%;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
        border: 1px solid black;
        padding: 1rem;
        width: fit-content;
    }
</style>