---
import Layout from "../components/layout/Layout.astro"
import Image from 'astro/components/Image.astro';
import logo from "../components/home/assets/hero.png";
---

<Layout>
    <section>
        <div>
            <Image src={logo} alt={'Bob artelier logo'} />
        </div>
        <article>
            <h1>Fazer Login</h1>
            <form action="">
                <label>
                    Email:
                    <input type="text">
                </label>
                <label>
                    Senha:
                    <input type="text">
                </label>
                <button role="button">Fazer Login</button>
            </form>
        </article>
    </section>
</Layout>

<style>
    button {
        width: 100%;
    }
</style>