---
import Layout from "../components/site/Layout.astro"
import LoginForm from "../components/site/LoginForm.vue"
---

<Layout>
    <div class="grid container">
        <LoginForm client:load/>
        <div></div>
    </div>
</Layout>