---
import Image from "astro/components/Image.astro";
import image from '../assets/image.jpg';
import Layout from "../components/Layout.astro";
---

<script>
    import { login } from '../scripts/Supabase.js';
    (window as any).login = login
</script>

<Layout>
    <section class="container-fluid grid">
        <div></div>
        <div>
            <label for="" class="avatar-label">
                <img src="" class="avatar-file" alt="" srcset="">
                <input type="file">
            </label>
            <label for="" disabled>
                Nome: 
                <input type="text">
            </label>
            <label for="" disabled>
                Email: 
                <input type="text">
            </label>
            <label for="" disabled>
                Telefone: 
                <input type="text">
            </label>
            <label for="" disabled>
                Email: 
                <input type="text">
            </label>
        </div>
        <div></div>
    </section>
</Layout>

<style>
    button {
        width: 100%;
    }

    .avatar-label {
        display: flex;
        gap: 1rem;
        align-items: start;
        flex-direction: column;
    }



    .avatar-file {
        background-color: aqua;
        width:  5rem;
        height: 5rem;
        border-radius: 100%;    
    }

    .alert {
        background-color: rgba(255, 0, 0, 0.2);
        border-radius: 0.2rem;
        padding: 1rem;
        position: relative;
        margin-bottom: 2rem;
    }

    .alert ul  {
        color: rgb(255, 0, 0);
        margin: 0;
        padding: 0;
        padding-left: 1rem;
    }

    .alert .close {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        border-radius: 99999px;
        background-color: rgba(220, 0, 0, 0.7);
        color: white;
        font-weight: bold;
        height: 1.2rem;
        width: 1.2rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0.1rem;
        font-size: 0.8rem;
        cursor: pointer;
    }

    .alert li {
        margin: 0;
        padding: 0;
    }
</style>