---
import Layout from "../components/site/Layout.astro"
import RegisterForm from "../components/site/RegisterForm.vue"
---

<Layout>
    <div class="grid container">
        <div></div>
        <RegisterForm client:load/>
    </div>
</Layout>