---
import Layout from "../components/site/Layout.astro"
import Register from "../components/site/Register.astro"
---

<Layout>
    <div class="grid container">
        <div></div>
        <Register/>
    </div>
</Layout>