---
import Image from 'astro/components/Image.astro'
import heroImg from './assets/hero.png'
import instagram from './assets/instagram.svg'
---

<section id="about">
    <div>
        <Image src={heroImg} alt={''}/>
    </div>
    <div>
        <h2>Oi, eu sou o Bob</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde dicta exercitationem accusantium voluptas distinctio vero nulla a sapiente eius dignissimos, autem iusto odio, voluptate architecto. A cum nam dignissimos culpa.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde dicta exercitationem accusantium voluptas distinctio vero nulla a sapiente eius dignissimos, autem iusto odio, voluptate architecto. A cum nam dignissimos culpa.
        </p>
        <p>Siga me nas redes sociais <a href=""><Image src={instagram} alt={''}/></a></p>
    </div>
</section>
