<section id="community">
    <div>
        <h2>Entre na nossa comunidade</h2>
        <p>
            Bob Artelier é uma plataforma criativa, de artista para artista para aprender livremente em diversas áreas do mercado criativo. 3D, Games, Ilustração..
        </p>
        <a href="" role="button">Entre na nossa comunidade</a>
    </div>
</section>

<style>
    section {
        text-align: center;
    }
</style>