---
const request = await fetch('https://api.baserow.io/api/database/rows/table/714529/?user_field_names=true',{
    headers: {
        Authorization: "Token yGfiMmcSdFgOvD9TJjbEueSiMEkHFegC"
    }
})
const courses = (await request.json()).results.map(course => ({
    name: course.Name,
    image: course.Thumbnail[0].url
}))
import Image from 'astro/components/Image.astro';
import heroImg from './assets/hero.png'
import Slider from '../elements/Slider.astro';

---
<section id="courses">
    <div>
        <div class="row">
            <h2>Cursos sob medida <br><strong>De artista para artista</strong></h2>
            <a href="" role="button">Ver todos os cursos</a>
        </div>
        <Slider>
            {
                courses.map((obj) =>
                <article class="course">
                    <Image src={obj.image} inferSize={true} alt={''}/>
                    <div class="foreground">
                        <h3>{obj.name}</h3>
                        <a href="/">Ver curso</a>
                    </div>
                    <div class="overlay"></div>
                </article>
                )
            }
        </Slider>
    </div>
</div>
</section>

<style>
    .courses {
        flex-direction: row;   
        display: flex;
    }
    
    article {
        flex: 0 0 20rem;
    }
    
    @media (max-width: 980px) {
        .courses {
            grid-template-columns: 1fr 1fr;
        }
    }
    
    @media (max-width: 480px) {
        .courses {
            grid-template-columns: 1fr;
        }
    }
    
    
    .course {
        border: 1px solid black;
        padding: 1rem;
        min-height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: end;
    } 
    
    .overlay {
        background: linear-gradient(1deg,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
        z-index: 0;
    }
    
    .foreground {
        z-index: 9;
    }
    
    article {
        position: relative;
        color: white;
    }
    
    h3 {
        color: white;
    }
    
    article img {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>

-->