<section id="faq">
    <div>
        <h2>Perguntas <br> <strong>Frequentes</strong></h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque atque, officiis quibusdam deleniti facere, cumque doloremque ut animi numquam molestias possimus sunt dicta a voluptate odio dolor? Dignissimos, esse repellat.</p>
    </div>
    <div>
        <article>
            <details>
                <summary>O que é o Bob Artelier?</summary>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda velit, odit ducimus sapiente ex accusantium, perferendis distinctio veritatis quod saepe, quae vero soluta. Necessitatibus culpa dolorum, numquam iure sint error?
                </p>
            </details>
        </article>
        <article>
            <details>
                <summary>O que é o Bob Artelier?</summary>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda velit, odit ducimus sapiente ex accusantium, perferendis distinctio veritatis quod saepe, quae vero soluta. Necessitatibus culpa dolorum, numquam iure sint error?
                </p>
            </details>
        </article>
            <article>
            <details>
                <summary>O que é o Bob Artelier?</summary>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda velit, odit ducimus sapiente ex accusantium, perferendis distinctio veritatis quod saepe, quae vero soluta. Necessitatibus culpa dolorum, numquam iure sint error?
                </p>
            </details>
        </article>
        <article>
            <details>
                <summary>O que é o Bob Artelier?</summary>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda velit, odit ducimus sapiente ex accusantium, perferendis distinctio veritatis quod saepe, quae vero soluta. Necessitatibus culpa dolorum, numquam iure sint error?
                </p>
            </details>
        </article>    
    </div>
</section>

<style>
    section {
        align-items: baseline;
    }

</style>