---
import Image from 'astro/components/Image.astro';
import heroImg from './assets/hero.png'
---

<section id="features">
    <div>
        <article>
            <Image src={heroImg} alt={''}/>
            <h3>Feature 1</h3>
        </article>
        <article>
            <Image src={heroImg} alt={''}/>
            <h3>Feature 1</h3>
        </article>
        <article>
            <Image src={heroImg} alt={''}/>
            <h3>Feature 1</h3>
        </article>
        <article>
            <Image src={heroImg} alt={''}/>
            <h3>Feature 1</h3>
        </article>
    </div>
    <div style="z-index: -1;">
        <h2>O que é <br> Bob artelier?</h2>
        <p>
            Bob Artelier é uma plataforma criativa, de artista para artista para aprender livremente em diversas áreas do mercado criativo. 3D, Games, Ilustração..
        </p>
    </div>
</section>

<style>    
    section {
        position: relative;
        align-items: baseline;
    }

    article {
        z-index: 9999;
    }

    section > *, section > * > * {
        position: sticky;
        top: 7rem;
    }

    @media (max-width: 767px) {
        section {
            display: flex;
            flex-direction: column-reverse;
        }

        section > * > article {
            top: 20rem;
        }
    }
</style>