<section class="container grid">
    <div>
        <article>Feature 1</article>
        <article>Feature 2</article>
        <article>Feature 3</article>
    </div>
    <div>
        <h2>O que é o Bob Artelier</h2>
        <p>Bob Artelier é uma plataforma criativa, de artista para artista para aprender livremente em diversas áreas do mercado criativo. 3D, Games, Ilustração..</p>
    </div>
</section>

<style>
    section {
        position: relative;
        padding-bottom: 50vh;
    }
    
    section > *:nth-child(2){
        position: sticky;
        height: fit-content;
        top: 8rem;
    }
    
    section > *:nth-child(1) > *{
        position: sticky;
        top: 8rem;
        min-height: 30vh;
    }
    
    
    @media (max-width: 767px) {
        section {
            display: flex;
            flex-direction: column-reverse;
        }
        
        section > *:nth-child(2){
            position: sticky;
            height: fit-content;
            top: 8rem;
        }
        
        section > *:nth-child(1) > *{
            position: sticky;
            top: 18rem;
            min-height: 30vh;
            z-index: 999;
        }
        
    }
</style>