---

const request = await fetch('https://api.baserow.io/api/database/rows/table/759992/?user_field_names=true',{
    headers: {
        Authorization: "Token yGfiMmcSdFgOvD9TJjbEueSiMEkHFegC"
    }
})

const gallery = (await request.json()).results.map(image => ({
    url: image.Imagem[0].url
}))

import Image from 'astro/components/Image.astro';
---

<section id="gallery">
    <div>
        <h2>Galeria</h2>
        <div class="gallery">
            { gallery.map(image => <Image src={image.url} alt={''} inferSize={true}/>) }
        </div>
    </div>
</section>

<style>
    section {
        text-align: center;
    }
    
    .gallery {
        column-count: 3;
    }

    .img {
        width: 100%;
        height: 50vw;
        background-color: antiquewhite;
        margin-block: 1rem;
    }

    @media (max-width: 767px) {
        .gallery {
            column-count: 2;
        }
    }
</style>