<section id="gallery">
    <div>
        <h2>Galeria</h2>
        <div class="gallery">
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
        </div>
    </div>
</section>

<style>
    section {
        text-align: center;
    }
    
    .gallery {
        column-count: 3;
    }

    .img {
        width: 100%;
        height: 50vw;
        background-color: antiquewhite;
        margin-block: 1rem;
    }

    @media (max-width: 767px) {
        .gallery {
            column-count: 2;
        }
    }
</style>