---
import Image from 'astro/components/Image.astro'
import heroImg from './assets/hero.png'
---

<section id="hero">
    <Image src={heroImg} alt={""} height={500}/>
    <div>
        <h1>Pense, respire, <br> <strong>Se inspire</strong></h1>
        <p>
            Na BobArtelie, voce transforma talentos em habilidade e habilidade em carreira. Aprenda no seu ritmo, com orientaçao clara em um ambiente descontraido
        </p>
        <a role="button" href="/">Faça um curso grátis</a>
    </div>
</section>

<style>
    section :global(img){
        object-fit: contain;
    }

    h1 {
        font-size: max(5vw, 3rem);
    }
</style>