---
import Image from 'astro/components/Image.astro'
import heroImg from './assets/hero.png'
---

<section id="hero">
    <Image src={heroImg} alt={""} height={500}/>
    <!-- 
    <div>
        <div class="sketchfab-embed-wrapper"> <iframe style="width: 100%; height: 20rem" title="Trabalho Basico 4602-A" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/63a396e779964c659cdc5318d49bebe4/embed"> </iframe> <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"> <a href="https://sketchfab.com/3d-models/trabalho-basico-4602-a-63a396e779964c659cdc5318d49bebe4?utm_medium=embed&utm_campaign=share-popup&utm_content=63a396e779964c659cdc5318d49bebe4" target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;"> Trabalho Basico 4602-A </a> by <a href="https://sketchfab.com/matheusprofessor.saga?utm_medium=embed&utm_campaign=share-popup&utm_content=63a396e779964c659cdc5318d49bebe4" target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;"> matheusprofessor.saga </a> on <a href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=63a396e779964c659cdc5318d49bebe4" target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a></p></div>
    </div>
    -->
    <div>
        <h1>Pense, respire, <br> <strong>Se inspire</strong></h1>
        <p>
            Na BobArtelie, voce transforma talentos em habilidade e habilidade em carreira. Aprenda no seu ritmo, com orientaçao clara em um ambiente descontraido
        </p>
        <a role="button" href="/">Faça um curso grátis</a>
    </div>
</section>

<style>
    section :global(img){
        object-fit: contain;
    }

    h1 {
        font-size: max(5vw, 3rem);
    }
</style>