<section id="numbers">
    <div x-cloak x-data="{
        value: 0,
        max: 123,
        tween: 16,
        async init(){
            const iObserver = new IntersectionObserver(
                entries => {
                    console.log(entries[0].isIntersecting);
                    if(entries[0].isIntersecting){
                        const interval = setInterval(() => {
                        this.value += parseInt(this.tween)
                        this.tween /= 5
                        if(this.value >= this.max){
                        this.value = this.max
                        clearInterval(interval)
                    }
                    }, 100);
                    }
                }
            );
            iObserver.observe(this.$root);

            
        }
    }">
        <div class="counter"></div>
        <p>mais de</p>
        <p class="num" x-text="value">0</p>
        <p>alunos</p>
    </div>
    <div x-cloak x-data="{
        value: 0,
        max: 123,
        tween: 16,
        async init(){
            const iObserver = new IntersectionObserver(
                entries => {
                    console.log(entries[0].isIntersecting);
                    if(entries[0].isIntersecting){
                        const interval = setInterval(() => {
                        this.value += parseInt(this.tween)
                        this.tween /= 5
                        if(this.value >= this.max){
                        this.value = this.max
                        clearInterval(interval)
                    }
                    }, 100);
                    }
                }
            );
            iObserver.observe(this.$root);

            
        }
    }">
        <div class="counter"></div>
        <p>mais de</p>
        <p class="num" x-text="value">0</p>
        <p>alunos</p>
    </div>
    <div x-cloak x-data="{
        value: 0,
        max: 123,
        tween: 16,
        async init(){
            const iObserver = new IntersectionObserver(
                entries => {
                    console.log(entries[0].isIntersecting);
                    if(entries[0].isIntersecting){
                        const interval = setInterval(() => {
                        this.value += parseInt(this.tween)
                        this.tween /= 5
                        if(this.value >= this.max){
                        this.value = this.max
                        clearInterval(interval)
                    }
                    }, 100);
                    }
                }
            );
            iObserver.observe(this.$root);

            
        }
    }">
        <div class="counter"></div>
        <p>mais de</p>
        <p class="num" x-text="value">0</p>
        <p>alunos</p>
    </div>

</section>

<style>
    section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }

    .num {
        font-size: 6rem;
        font-family: 'Bangers', sans-serif;
        color: white;
        --border: 2px;
        --border-n: -2px;
        text-shadow: var(--border-n) var(--border-n) 0 #000, var(--border) var(--border-n) 0 #000, var(--border-n) var(--border) 0 #000, var(--border) var(--border) 0 #000, 4px 4px 0 #000;
    }

    @media (max-width: 767px) {
        .num {
            font-size: 3rem;
        }        
    }
</style>