<section class="container">
    <div>
        <p>mais de</p>
        <p>100</p>
        <p>alunos ativos</p>
    </div>
    <div>
        <p>mais de</p>
        <p>100</p>
        <p>alunos ativos</p>
    </div>    <div>
        <p>mais de</p>
        <p>100</p>
        <p>alunos ativos</p>
    </div>
</section>

<style>
    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        text-align: center;
    }

    div > *:nth-child(2){
        font-size: 4em;
        font-weight: bold;
        font-family: 'Bangers', system-ui;
        color: white;
		--border: 4px;
		--border-n: -4px;
		text-shadow: var(--border-n) var(--border-n) 0 #000, var(--border) var(--border-n) 0 #000, var(--border-n) var(--border) 0 #000, var(--border) var(--border) 0 #000, 8px 8px 0 #000;
    }

    div > * {
        margin: 0;
    }
</style>