<section class="container">
    <div>
        <p>mais de</p>
        <p>100</p>
        <p>alunos ativos</p>
    </div>
    <div>
        <p>mais de</p>
        <p>100</p>
        <p>alunos ativos</p>
    </div>    <div>
        <p>mais de</p>
        <p>100</p>
        <p>alunos ativos</p>
    </div>
</section>

<style>
    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        text-align: center;
    }

    div > *:nth-child(2){
        font-size: 4em;
        font-weight: bold;
    }

    div > * {
        margin: 0;
    }
</style>