---
import Number from "../elements/Number.astro";
---

<section id="numbers">
    <Number/>
    <Number/>
    <Number/>
</section>

<style>
    section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }
</style>