<section>
    <div>
        <h2>Cadastro grátis <br> <strong>Preço acessível</strong> </h2>
        <p>
            Nós entendemos a realidade de quem quer viver de arte, por isso a plataforma completa para o seu desenvolvimento artístico com um preço justo <br>
            O cadastro é grátis e te dá acesso a cursos gratuítos e uma comunidade especial pra trocar idéia com outros alunos
        </p>
    </div>
    <div>
        <p>mensalidade por apenas</p>
        <p>R$ 100,00</p>
        <a href="" role="button">Cadastro grátis</a>
    </div>
</section>