---

const request = await fetch('https://api.baserow.io/api/database/rows/table/759955/?user_field_names=true&size=3',{
    headers: {
        Authorization: "Token yGfiMmcSdFgOvD9TJjbEueSiMEkHFegC"
    }
})
const testimonials = (await request.json()).results.map(testimonial => ({
    name: testimonial.Name,
    role: testimonial.Role,
    depoimento: testimonial.Depoimento,
    image: testimonial.Imagem[0].url
}))

import Image from 'astro/components/Image.astro';
import heroImg from './assets/hero.png'
---


<section id="testimonials">
    <div>
        <div class="row">
            <h2>O que os alunos dizem sobre o curso?</h2>
            <a href="" role="button">Ver depoimentos</a>
        </div>
        <section class="courses">
            {
                testimonials.map((testimonial) =>
                <article class="testimonial">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi aspernatur neque maxime odio. Excepturi nihil veniam in inventore eaque deleniti sapiente, voluptas voluptatibus maiores corporis natus necessitatibus cumque exercitationem dolor.</p>
                    <div class="row">
                        <Image src={heroImg} alt={''} width={100}/>
                        <div class="foreground">
                            <h3>{testimonial.name}</h3>
                            <p>{testimonial.role}</p>
                        </div>
                    </div>
                </article>
                )
            }
        </section>
    </div>
</section>

<style>
    .testimonial img {
        
    }

    article .row {
        justify-content: start;
        align-items: center;
    }
    
    article p {
        font-family: 'Comic Neue', sans-serif;
        letter-spacing: -0.05rem;
    }
</style>