---

const request = await fetch('https://api.baserow.io/api/database/rows/table/759955/?user_field_names=true',{
    headers: {
        Authorization: "Token yGfiMmcSdFgOvD9TJjbEueSiMEkHFegC"
    }
})
const testimonials = (await request.json()).results.map(testimonial => ({
    name: testimonial.Name,
    role: testimonial.Role,
    depoimento: testimonial.Depoimento,
    image: testimonial.Imagem[0].url
}))

import Image from 'astro/components/Image.astro';
import heroImg from './assets/hero.png'
import Slider from '../elements/Slider.astro';
---


<section id="testimonials">
    <div>
        <div class="row">
            <h2>O que os alunos dizem sobre o curso?</h2>
            <a href="" role="button">Ver depoimentos</a>
        </div>
        <Slider size={25}>
            {
                testimonials.map((testimonial) =>
                <article class="testimonial">
                    <p>{testimonial.depoimento}</p>
                    <div class="row">
                        <Image src={testimonial.image} inferSize={true} alt={''} width={100}/>
                        <div class="foreground">
                            <h3>{testimonial.name}</h3>
                        </div>
                    </div>
                </article>
                )
            }
        </Slider>
    </div>
</section>

<style>
    article {
        flex: 0 0 25rem;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .row {
        gap: 1rem;
        align-items: center;
    }

    .row img {
        border-radius: 9999px;
        width: 4rem;
        aspect-ratio: 1/1;
    } 

    .testimonial img {
        
    }

    article .row {
        justify-content: start;
        align-items: center;
    }
    
    article p {
        font-family: 'Comic Neue', sans-serif;
        letter-spacing: -0.05rem;
    }
</style>