---
import Image from 'astro/components/Image.astro';
import logo from '../assets/bob-logo.svg';
---

<script>
    import { getUser, logoff } from "../scripts/Supabase";
    (window as any).getUser = getUser;
    (window as any).logoff = logoff;
    window.dispatchEvent(new Event('getUserReady'))
</script>

<header x-data="{
    loading: true,
    user: null,
    async init(){
        this.loading = false
        await new Promise(resolve => {
            if (window.getUser) return resolve();
            window.addEventListener('getUserReady', resolve, { once: true });
        })
        this.user = await getUser()
    }
}">
<nav class="container-fluid">
    <ul class="main-menu">
        <li><a href="/#courses">Cursos</a></li>
        <li><a href="/#about">Sobre Mim</a></li>
        <li><a href="/#gallery">Galeria</a></li>
        <li><a href="/#community">Comunidade</a></li>
        <li><a href="/#faq">Perguntas</a></li>
    </ul>
    <a href="/#hero">
        <Image class="logo" src={logo} alt={'Bob logo'}/>
    </a>
    <div>
        <div x-show="loading" aria-busy="true"></div>
        <ul x-show="!user" x-cloak>
            <li><a role="button" href="/login">Login</a></li>
            <li><a role="button" href="/registrar">Registrar</a></li>
        </ul>
        <div x-show="user" x-cloak>
            <ul >
                <li><a href="/cursos">Meus cursos</a></li>
                <li><a @click="logoff" href="#" >Sair</a></li>
                <li>
                    <a href="/profile">
                        <div class="avatar">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 4C13.0609 4 14.0783 4.42143 14.8284 5.17157C15.5786 5.92172 16 6.93913 16 8C16 9.06087 15.5786 10.0783 14.8284 10.8284C14.0783 11.5786 13.0609 12 12 12C10.9391 12 9.92172 11.5786 9.17157 10.8284C8.42143 10.0783 8 9.06087 8 8C8 6.93913 8.42143 5.92172 9.17157 5.17157C9.92172 4.42143 10.9391 4 12 4ZM12 14C16.42 14 20 15.79 20 18V20H4V18C4 15.79 7.58 14 12 14Z" fill="black"/>
                            </svg>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</header>
<div class="spacer"></div>

<style>
    .spacer {
        height:8rem;
    }

    header {
        z-index: 99999;
    }

    .main-menu {
        border: 2px solid black;
        width: fit-content;
        padding: 0 0.5rem;
        box-shadow: 0.5rem 0.5rem 0 black;
        background-color: white;
        z-index: 99999;
    }

    .main-menu a {
        color: black;
        font-weight: bold;
    }
    
    .avatar {
        width: 3rem;
        height: 3rem;
        background-color: bisque;
        border-radius: 999rem;
    }
    
    .avatar svg {
        width: 100%;
        height: 100%;
        padding: 0.5rem;
    }
    
    header {
        padding: 0.5rem 0;
        margin: 0;
        position: fixed;
        z-index: 99999;
        width: 100%;
    }
    
    nav {
        display: grid;
        grid-template-columns: 10fr 1fr 10fr;
        align-items: center;
    }
    
    nav > *:nth-child(2){
        margin: auto;
    }
    
    nav > *:nth-child(3) {
        margin-left: auto;
    }
    
    @media (max-width: 1024px) {
        nav {
            display: flex;
            justify-content: space-between;
        }
        
        .logo {
            width: 3rem;
        }
        
        nav > ul:first-child {
            display: none;
        }
        
        nav > *:nth-child(2) {
            margin: 0;
        }
        nav > *:nth-child(3) {
            margin-left: auto;
        }
    }
</style>