---
import '@fontsource/bangers';
import '@fontsource/comic-neue';

import texture from '../assets/grunge-texture.png';
---

<!doctype html>
<html lang="en" data-theme="light">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<title>Bob Artelier</title>
	<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.amber.min.css"
	>
	<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/htmx-ext-head-support@2.0.5" integrity="sha384-cvMqHzjCJsOHgGuyB3sWXaUSv/Krm0BdzjuI1rtkjCbL1l1oHJx+cHyVRJhyuEz0" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/htmx-ext-alpine-morph@2.0.0/alpine-morph.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	<meta name="description" content="Bob Artelier - Cursos de Arte e Design">
</head>
<body>
	<slot />
</body>
</html>

<style is:global>
	html {
		scroll-behavior: smooth;
		scroll-padding-top: 10rem;
		font-family: 'Comic Neue', cursive;
	}
	
	body {
		font-size: 1rem;
	}
	
	
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Bangers', system-ui;
	}
	
	h1 {
		font-size: 5rem;
	}
	
	
	article {
		box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
	}
	
	[role="button"]{
		border-radius: 0;
		border: none;
		border: 5px solid black;
		font-family: 'Bangers', system-ui;
		background-color: yellow;
		background: url('./images/texture.png'), yellow;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-blend-mode: multiply;
		color: black;
		box-shadow: 0.5rem 0.5rem 0 black;
	}
	
	
	h1 {
		color: yellow;
		--border: 4px;
		--border-n: -4px;
		text-shadow: var(--border-n) var(--border-n) 0 #000, var(--border) var(--border-n) 0 #000, var(--border-n) var(--border) 0 #000, var(--border) var(--border) 0 #000, 8px 8px 0 #000;
		font-size: 5rem;
		letter-spacing: 0.1rem;
	}
	
	h2 {
		color: yellow;
		--border: 2px;
		--border-n: -2px;
		text-shadow: var(--border-n) var(--border-n) 0 #000, var(--border) var(--border-n) 0 #000, var(--border-n) var(--border) 0 #000, var(--border) var(--border) 0 #000, 4px 4px 0 #000;
		font-size: 2.5rem;
		letter-spacing: 0.1rem;
	}

	@media (max-width: 573px) {
		h1 {
			font-size: 3rem;
		}
	}
	
	[x-cloak] { display: none !important; }
</style>
