<div class="container">
    <section class="grid" id="about">
    <img src="/foto-bob.jpg" width="100%" alt="">
    <div>
        <h1>Quem sou eu?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi aperiam minima eius deserunt nulla, incidunt possimus molestiae excepturi esse veniam perferendis earum doloribus eaque quibusdam pariatur ipsam aut? Accusantium, at.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id commodi eos ex. Aperiam mollitia odio exercitationem consequuntur tenetur quae eum, a deserunt iure, recusandae molestiae voluptate. Voluptas eum autem voluptate?</p>
        <div>
            <small>Siga me nas redes sociais</small><br>
            <a href="">Instagram</a><br>
            <a href="">Behance</a><br>
        </div>
    </div>
</div>
</section>

<style>
    section {
        padding: 20vh 0;
        gap: 4rem;
    }
</style>