<section class="container grid"  id="community">
    <img src="/image.jpg" alt="">
    <div>
        <h2>Entre na nossa comunidade</h2>
        <p>
            Bob Artelier é uma plataforma criativa, de artista para artista para aprender livremente em diversas áreas do mercado criativo. 3D, Games, Ilustração..
        </p>
        <a href="" role="button">Entre na comunidade</a>
    </div>
</section>

<style>
    @media (max-width: 767px) {
        
    }
</style>