<section class="container grid"  id="FAQ">
    <div>
        <h2>Perguntas frequentes</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolorem vero distinctio iusto atque, officia delectus ipsa id hic nam eligendi nobis laboriosam mollitia suscipit, at beatae excepturi reiciendis! Tempore!</p>
    </div>
    <div>
        <details>
            <summary role="button" class="secondary">O que é o Bob Artelier?</summary>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, error aut sunt ratione deserunt, facilis pariatur officia quam repudiandae, excepturi dolorem dolor? Est sequi illum mollitia accusamus rem blanditiis placeat?</p>
        </details>
        <details>
            <summary role="button" class="secondary">O que é o Bob Artelier?</summary>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, error aut sunt ratione deserunt, facilis pariatur officia quam repudiandae, excepturi dolorem dolor? Est sequi illum mollitia accusamus rem blanditiis placeat?</p>
        </details>
        <details>
            <summary role="button" class="secondary">O que é o Bob Artelier?</summary>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, error aut sunt ratione deserunt, facilis pariatur officia quam repudiandae, excepturi dolorem dolor? Est sequi illum mollitia accusamus rem blanditiis placeat?</p>
        </details>
        <details>
            <summary role="button" class="secondary">O que é o Bob Artelier?</summary>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, error aut sunt ratione deserunt, facilis pariatur officia quam repudiandae, excepturi dolorem dolor? Est sequi illum mollitia accusamus rem blanditiis placeat?</p>
        </details>
        <details>
            <summary role="button" class="secondary">O que é o Bob Artelier?</summary>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, error aut sunt ratione deserunt, facilis pariatur officia quam repudiandae, excepturi dolorem dolor? Est sequi illum mollitia accusamus rem blanditiis placeat?</p>
        </details>
    </div>
</section>

<style>
    section {
        min-height: 100vh;
        padding: 20rem 0;
    }

    @media (max-width: 767px) {
        section {
            min-height: 0;
            padding: 2rem;
        }
    }
</style>