<section  class="container" id="gallery">
    <h2>Galeria</h2>
    <div class="gallery">
        <img src="/image.jpg" style="height: 20rem;" alt="">
        <img src="/image.jpg" alt="">
        <img src="/image.jpg" alt="">
        <img src="/image.jpg" alt="">
        <img src="/image.jpg" style="height: 20rem;" alt="">
        <img src="/image.jpg" alt="">
    </div>
</section>

<style>
    .gallery {
        column-count: 3;
        gap: 1rem;
    }

    .gallery > * {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    @media (max-width: 767px) {
        .gallery {
            column-count: 2;
        }
    }

    img {
        object-fit: cover;
    }
</style>