<section class="container" id="hero">
    <h1>Libere a sua <br> criatividade</h1>
    <p>Somos a escola de design para aqueles que sempre exploram o seu potencial</p>
    <div class="buttons-wrapper">
        <a href="" role="button">Cadastre-se grátis</a>
        <a href="" role="button" class="secondary">Veja nossos cursos</a>
    </div>
</section>

<style>
    section {
        min-height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 5rem;
        gap: 1rem;
        text-align: center;
    }

    .buttons-wrapper{
        display: flex;
        gap: 1rem;
    }


    h1 {
        font-size: 4rem;
    }

    p {
        max-width: 30ch;
    }

    @media (max-width: 767px) {
        .buttons-wrapper  {
            flex-direction: column;
        }        

        h1 {
            font-size: 3rem;
        }
    }

</style>