<section  class="container" >
        <h2>O que os alunos tem a dizer sobre o curso?</h2>
        <p>Alunos de verdade que encontraram seu potencial criativo</p>
    <div class="grid">
        <article>
            <img src="aluno1.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, debitis veritatis neque nobis sapiente consequatur id dicta perferendis numquam fuga! Porro eos dignissimos laudantium fuga libero sunt reiciendis ad quos.</p>
        </article>
        <article>
            <img src="aluno1.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, debitis veritatis neque nobis sapiente consequatur id dicta perferendis numquam fuga! Porro eos dignissimos laudantium fuga libero sunt reiciendis ad quos.</p>
        </article>
        <article>
            <img src="aluno1.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, debitis veritatis neque nobis sapiente consequatur id dicta perferendis numquam fuga! Porro eos dignissimos laudantium fuga libero sunt reiciendis ad quos.</p>
        </article>
    </div>
</section>

<style>
    section {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid {
        width: 100%;
    } 

    article {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-top: 5rem;
    }

    article img {
        width: 6rem;
        position: absolute;
        top: -3rem;
        border-radius: 99999px;
    }

    h2 {
        max-width: 25rem;
    }

    p {
        max-width: 20rem;
    }
</style>