---
import Image from 'astro/components/Image.astro';
import logo from '../../assets/bob-icon.svg';
---

<script>
    import { getUser, logoff } from "../scripts/Supabase";
    (window as any).getUser = getUser
    window.dispatchEvent(new Event('getUserReady'));
    (window as any).logoff = logoff
</script>

<header x-data="{
    loading: true,
    user: null,
    async init(){
        this.loading = false
        this.$nextTick(async () => {
            await new Promise(resolve => {
                if (window.getUser) return resolve();
                window.addEventListener('getUserReady', resolve, { once: true });
            })
            this.user = await getUser()
        })
    }
}">
<nav>
    <ul>
        <li><a href="/#courses">Cursos</a></li>
        <li><a href="/#about">Sobre Mim</a></li>
        <li><a href="/#gallery">Galeria</a></li>
        <li><a href="/#community">Comunidade</a></li>
        <li><a href="/#faq">Perguntas</a></li>
    </ul>
    <a href="/#hero">
        <Image class="logo" src={logo} alt={'Bob logo'}/>
    </a>
    <div>
        <div x-show="loading" aria-busy="true"></div>
        <ul x-show="!user" x-cloak>
            <li><a role="button" href="/login">Login</a></li>
            <li><a role="button" href="/registrar">Registrar</a></li>
        </ul>
        <ul x-show="user" x-cloak>
            <li><a role="button" href="/dashboard">Entrar</a></li>
            <li><a role="button" @click="() => window.logoff()" >Sair</a></li>
        </ul>
    </div>
</nav>
</header>
<div class="spacer"></div>

<style>
    nav {
        display: flex;
        flex-direction: column;
    }
</style>