---
import Main from "./Main.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
---

<Main>
    <div>
        <Header/>
        <slot/>
    </div>
    <Footer/>
</Main>

<style>
    div {
        display: flex;
    }
</style>